.alert-box {
    background-color: skyblue;
    padding: 20px;
    color: white;
    border-radius: 5px;
    display: none;
}
.list-group{
    display: none;
}
.show{
    display: block;
}

.form__div{
    margin: 1rem 1rem;
}

.form__div2 {
    margin: 1rem 1rem;
}

.submit__button {
    margin: 0 1rem;
    background-color: rgb(24, 140, 202);
    width: 100px;
}