
#index6

.outer_class {
    width: 400px;
    height: 500px;
    background-color: burlywood;
}
.product__container {
    width: 100%;
    height: 100%;
}
.product__select {
    height: 100%;
    width: 100%;
}
